$yellow : #FD7900;

// Mobile
@media (max-width : 768px) {
  .Navbar{
  
    .nav-body{
      ul{
        li{
          a{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }
      }

      .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding-left: 20px;
        background: $yellow;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(100%);
        transition: 0.5s ease-in;
      }

      .nav__active{
        transform: translateX(0);
      }
  
      .nav__toggler{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 9;
        cursor: pointer;
        div{
          width: 2rem;
          height: 0.2rem;
          margin: 0.2rem;
          
        }
        .line3{
          width: 1.5rem;
        }
      }
  
      select{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 39px;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        option{
          color: #000;
        }
      }
  
    }
  }
}

// Tablet

@media (max-width : 992px) {
  
}